<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' type="text/css" href='./style.css'/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato: 300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Great+Vibes">
    <script type="text/javascript" src="./libs/jquery-1.11.1.min.js"></script>
    <script src="./libs/jquery-ui.min.js"></script>
    <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
    <script src='./javascripts/eventsScript.js'></script>    

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">SHIRE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/events">EVENTS</a></li>
        <li><a href="/photos">PHOTOS</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">OTHER <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/movies">MOVIES</a></li>
            <li><a href="/people">PEOPLE</a></li>
            <li><a href="#">MISC</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">LOGIN</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="welcome">
  <p>Events</p>
</div>

<!--soon to be removed-->
<div class="event-outer">
  <h2 class="event-title">Raymond's Birthday</h2>
  <h4 class="event-description">Celebrating his birthday because he's awesome, also this div will be removed soon because it is not dynamic... it's just a placeholder for now</h4>
  <input class="mySubmit" id="event-delete" type="submit" value="Delete" /> 
  <div class="event-table-outer">
    <div class="event-info">
      <p class="event-where">Where: Raymond's house</p>
      <p class="event-when">When: Today</p>
    </div>
    <div class="meet-info">
      <p class="meet-where">Meeting where: TFL</p>
      <p class="meet-when">Meeting when: Midnight</p>
    </div>
  </div>
</div>

<div id="event-all">
</div>

<div class="add-event">
  <form id="add-event-form" action="events/add_event" method="post"> 
    Title: <input type="text" name="title" /> 
    Description: <input type="text" name="description"/> 
    Where: <input type="text" name="event-where"/>
    When: <input type="text" name="event-when"/> 
    Meeting where: <input type="text" name="meet-where"/> 
    Meeting when: <input type="text" name="meet-when"/> 
    <input class="mySubmit" type="submit" value="Add Event" /> 
  </form>
</div>
    
</body>
</html>