<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' type="text/css" href='./style.css'/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato: 300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Great+Vibes">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="./libs/jquery-1.11.1.min.js"></script>
    <script src="./libs/jquery-ui.min.js"></script>
    <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
    <script src='./javascripts/script.js'></script>
    <script src='./javascripts/historyScript.js'></script>

</head>
<body class="history">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">SHIRE</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/history">HISTORY</a></li>
          <li><a href="/people">HOBBITS</a></li>
          <li><a href="/events">EVENTS</a></li>
          <li class="dropdown" id="dropdownRAYRAY">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">OTHER</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/photos">PHOTOS</a></li>
              <li><a href="/movies">MOVIES</a></li>
              <li><a href="/balls">BALLS</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <%if (!isLoggedIn){%>
            <li><a href="/login" id="loginLink"><button class="login-button btn btn-success">Sign In</button></a></li>
          <%}%>
          <%if (isLoggedIn){%>
            <li class="loginSide">
              <form id="myForm" action="login/logout" method="post"> 
                <button class="login-button btn btn-success" type="submit">Sign Out</button> 
              </form>
            </li>
          <%}%>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="backofnav"></div>
  
  <div class="welcome">
    <p>History</p>
  </div>

  <div class="history-pic-container">
    <div class="history-words-container"><p class="history-words">A long long time ago, I can still remember how that music used to make me smile. And I knew if I had my chance, I could make those people dance, and maybe they'd be happy, for a while...But February made me shiver, with every paper I'd deliver, bad news on the doorstep, I couldn't take one more step...I can't remember if I cried when I read about his widowed bride, but something touched me deep inside... The day the music died</p>
    </div>
    <div class="page-nav">
      <a href="#" id="previous-story"><i class="fa fa-chevron-left"></i></a>
      <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
      <a href="#" id="next-story"><i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
  <div class="footnote">
      <address>
        Written by Raymond Wu, Christopher Womack, and Sophie Mori<br>
        <a href="mailto:raywu22@mit.edu">raywu22@mit.edu</a> &bull; <a href="mailto:cwwomack@mit.edu">cwwomack@mit.edu</a> &bull; <a href="mailto:ksmori@mit.edu">ksmori@mit.edu</a>
      </address>
  </div>
</body>
</html>