<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' type="text/css" href='./style.css'/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato: 300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Great+Vibes">
    <script type="text/javascript" src="./libs/jquery-1.11.1.min.js"></script>
    <script src="./libs/jquery-ui.min.js"></script>
    <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
    <script src='./javascripts/script.js'></script>  
    <script src="./javascripts/loginScript.js"></script>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">SHIRE</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/history">HISTORY</a></li>
          <li><a href="/people">HOBBITS</a></li>
          <li><a href="/events">EVENTS</a></li>
          <li class="dropdown" id="dropdownRAYRAY">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">OTHER</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/photos">PHOTOS</a></li>
              <li><a href="/movies">MOVIES</a></li>
              <li><a href="#">MISC</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">LOGIN</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <%if (message.length!=0){%>
  <div id="loginMessage">
    <p><%=message%></p>
  </div>
  <%}%>

<%if (!isLoggedIn){%>
  <div class="welcome">
    <p>Login</p>
  </div>
  <div class="login_form">
    <form id="loginForm" action="login/login_user" method="post"> 
      <label>User:</label> 
      <input type="text" name="user" /> 
      <label>Password:</label>
      <input type="password" name="password"/> 
      <input id="login_submit" class="mySubmit" type="submit" value="Submit" /> 
    </form>
  </div>

  <div class="welcome">
    <p>New User</p>
  </div>

  <div class="login_form2">
    <form id="myForm" action="login/new_user" method="post"> 
      <label>User:</label>
      <input type="text" name="user" /> 
      <label>Password:</label>
      <input type="password" name="password"/> 
      <label>What's Raymond's favorite color?</label>
      <input type="text" name="secret" /> 
      <input class="mySubmit" type="submit" value="Submit" /> 
    </form>
  </div>
<%}%>
<%if (isLoggedIn){%>
  <div class="welcome">
    <p>Logout</p>
  </div>

  <div class="logout">
    <form id="myForm" action="login/logout" method="post"> 
      <input class="mySubmit" type="submit" value="Logout" /> 
    </form>
  </div>
<%}%>
</body>
</html>