<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' type="text/css" href='./style.css'/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato: 300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Great+Vibes">
    <script type="text/javascript" src="./libs/jquery-1.11.1.min.js"></script>
    <script src="./libs/jquery-ui.min.js"></script>
    <script src="./libs/bootstrap/js/bootstrap.min.js"></script>  
    <script src="./javascripts/loginScript.js"></script>
    <script src='./javascripts/script.js'></script>
</head>
<body class="loginPage">
  <div class="loginHeader">
    <a href="/home">SHIRE</a>
  </div>
  <%if (message.length!=0){%>
  <div id="loginMessage">
    <p><%=message%></p>
  </div>
  <%}%>


<%if (!isLoggedIn){%>
  <div class="signIn">
    <p>Sign In</p>
  </div>
  <form id="loginForm" action="login/login_user" method="post"> 
    <div class="form-group">
      <label for="uName1">Username</label> 
      <input class="form-control login_form userInput" id="uName1" type="text" name="user" placeholder="Enter Username"/>
    </div>
    <div class="form-group"> 
      <label for="pass1">Password</label>
      <input class="form-control login_form userInput" id="pass1" type="password" name="password" placeholder="Password"/> 
    </div>
      <button class="btn btn-success" id="submit1" type="submit">Submit</button>
  </form>  

  <hr>

  <div class="signIn" id="Up">
    <p>Sign Up</p>
  </div>

  <form id="newUserForm" action="login/new_user" method="post">
    <div class="form-group"> 
      <label for="uName2">Username</label>
      <input class="form-control login_form2 userInput" id="uName2" type="text" name="user" placeholder="Choose Username"/>
    </div>
    <div class="form-group"> 
      <label for="pass2">Password</label>
      <input class="form-control login_form2 userInput" id="pass2" type="password" name="password" placeholder="Choose Password"/>
    </div>
    <div class="form-group"> 
      <label for"faveColor">What's Raymond's favorite color?</label>
      <input class="form-control login_form2 userInput" id="faveColor" type="text" name="secret" /> 
    </div>
    <button class="btn btn-success" id="submit2" type="submit">Submit</button> 
  </form>

<%}%>
<%if (isLoggedIn){%>
  <div class="signIn">
    <p>Sign Out</p>
  </div>

  <div class="logout">
    <form id="myForm" action="login/logout" method="post"> 
      <button class="btn btn-success" id="submit2" type="submit">Sign Out</button> 
    </form>
  </div>
<%}%>

<div class="footnote">
      <address>
        Written by Raymond Wu, Christopher Womack, and Sophie Mori<br>
        <a href="mailto:raywu22@mit.edu">raywu22@mit.edu</a> &bull; <a href="mailto:cwwomack@mit.edu">cwwomack@mit.edu</a> &bull; <a href="mailto:ksmori@mit.edu">ksmori@mit.edu</a>
      </address>
</div>

</body>
</html>