<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' type="text/css" href='./style.css'/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato: 300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Great+Vibes">
    <script type="text/javascript" src="./libs/jquery-1.11.1.min.js"></script>
    <script src="./libs/jquery-ui.min.js"></script>
    <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
    <script src='./javascripts/script.js'></script>
    <script src='./javascripts/photosScript.js'></script>    
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">SHIRE</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/history">HISTORY</a></li>
          <li><a href="/people">HOBBITS</a></li>
          <li><a href="/events">EVENTS</a></li>
          <li class="dropdown" id="dropdownRAYRAY">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">OTHER</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/photos">PHOTOS</a></li>
              <li><a href="/movies">MOVIES</a></li>
              <li><a href="#">MISC</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">LOGIN</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="welcome">
    <p>Photos</p>
  </div>


  <div id="urlAdd-container">
    <form id="urlAdd" action="photos/urlAdd" method="post">
      <label>Add photo from public url</label>
      <input type="text" name="toAddUrl"/>
      <input class="mySubmit" type="submit" value="submit"/>
    </form>
  </div>

  <div class="photosContainer">
    <%for (var i=0;i<Math.floor(allUrlPhotos.length/4)+1;i++){%>
      <div class="imageRow">
        <%for (var j=i*4;j<Math.min(i*4+4,allUrlPhotos.length);j++){%>
          <div class="imageBound" style="width:200px">
            <form class="delete-photo-form" action="photos/deletePhoto" method="post">
            <input type="hidden" name="photoUrl" value="<%=allUrlPhotos[j].photoUrl%>">
            <input class="smallSubmit" type="submit" value="X"/>
            <img class="photosPicSmall" src="<%=allUrlPhotos[j].photoUrl%>">
            </form>
          </div>
        <%}%>
      </div>
    <%}%>
  </div>


<!--   <div class="photosContainer">
    <div class="imageRow">

      <div class="imageBound">
        <img class="photosPicSmall" src="./images/swing.jpg">
      </div>
      <div class="imageBound">
        <img class="photosPicSmall" src="./images/esplanade.jpg">
      </div>
      <div class="imageBound">
        <img class="photosPicSmall" src="./images/skittles.jpg">
      </div>
      <div class="imageBound">
        <img class="photosPicSmall" src="./images/statue.jpg">
      </div>

    </div>
    <div class="imageRow">

      <div class="imageBound">
        <img class="photosPicSmall" src="./images/shirepic.jpg">
      </div>
      <div class="imageBound">
        <img class="photosPicSmall" src="./images/walk.jpg">
      </div>

    </div>
  </div> -->

  <div id="overlay">
  </div>
    
</body>
</html>