body{
    background: #98E6AC;
    font-family: 'Lato', sans-serif;
    margin-left:0px; 
    margin-right:0px;  
}

.welcome{
    position:relative;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.welcome > p{
    position: relative;
    font-family: "Great Vibes";
    font-size: 5em;
    font-weight: bold;
    color:#035F23;
}

.main{
    position:relative;
    width:100%;
    margin:0;
    text-align: center;
    padding-bottom: 20px;
}

.main #header{
    font-size: 3em;
    font-weight: bold;
    padding-top:10px;
    padding-bottom: 5px;
    color:#F3F3F3;
    font-family:'Lato',sans-serif;
}

.main p{
    margin-left:auto;
    margin-right:auto;
    font-size:1.25em;
    color:#F3F3F3;
}

.main .pic{
    position:relative;
    display:block;
    width:100%;
    border-top: 4px solid #049F65;
    border-bottom: 4px solid #049F65;
}

.main.diversity{
    background: -webkit-linear-gradient(left, #4BCF25 , #1C9B48); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #4BCF25, #1C9B48); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #4BCF25, #1C9B48); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #4BCF25 , #1C9B48); /* Standard syntax */
}

.main.diversity p{

}

.main.family{
    background-color: white;
    padding-bottom:0;
}

.main.family #header{
    color:#0BBB79;
}

.main .pic#swing{
    border:none;
}

.main.festivity{
    background-color: white;
}

.main.festivity #header{
    color:#0BBB79;
}

#festivePic{
    position: relative;
    text-align: center;
    width: 100%;
}

#festivePic img{
    display: inline-block;
    margin:0;
    clear:both;
}

.footnote{
    font-family: 'Lato';
    text-align: center;
}

address{
    padding-top:10px;
    text-align: center;
}
address a{
    text-decoration:none;
    color:#333;
}
address a:hover{
    text-decoration: none;
    font-weight: bold;
    color:#035F23;
}








