body{
    background: #98E6AC;
    font-family: 'Lato', sans-serif;
    margin-left:0px; 
    margin-right:0px;  
}

.welcome{
    position:relative;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.welcome > p{
    position: relative;
    font-family: "Great Vibes";
    font-size: 5em;
    font-weight: bold;
    color:#035F23;
}

.main{
    position:relative;
    width:100%;
    margin:0;
    text-align: center;
    padding-bottom: 20px;
}

.main #header{
    font-size: 3em;
    font-weight: bold;
    padding-top:10px;
    padding-bottom: 5px;
    color:#F3F3F3;
    font-family:'Lato',sans-serif;
}

.main p{
    margin-left:auto;
    margin-right:auto;
    font-size:1.25em;
    color:#F3F3F3;
}

.main .pic{
    position:relative;
    display:block;
    width:100%;
    border-top: 4px solid #049F65;
    border-bottom: 4px solid #049F65;
}

.main.diversity{
    background: -webkit-linear-gradient(left, #4BCF25 , #1C9B48); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #4BCF25, #1C9B48); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #4BCF25, #1C9B48); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #4BCF25 , #1C9B48); /* Standard syntax */
}

.main.diversity p{

}

.main.family{
    background-color: white;
    padding-bottom:0;
}

.main.family #header{
    color:#0BBB79;
}

.main .pic#swing{
    border:none;
}

.main.festivity{
    background-color: white;
}

.main.festivity #header{
    color:#0BBB79;
}

#festivePic{
    position: relative;
    text-align: center;
    width: 100%;
}

.main .pic#festivePic{
    border:none;
}

.footnote{
    font-family: 'Lato';
    text-align: center;
}

address{
    padding-top:10px;
    text-align: center;
}
address a{
    text-decoration:none;
    color:#333;
}
address a:hover{
    text-decoration: none;
    font-weight: bold;
    color:#035F23;
}

/*all buttons button*/
.mySubmit {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 7.5px 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}
.mySubmit:hover {
   background: #28597a;
   color: #ccc;
   }
.mySubmit:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

/*---------------------------------------------------------------------------------
people */

.peeps{
  height:100px;
  width:150px;
}

.first_row > th {
  border: 4px solid #fff;
  padding: 10px;
  background: #98C6AA;
  text-align: center;
}

.people_table{
  margin: auto;
  text-align: center;
}

.people_table > tbody > tr > td{
  border: 4px solid #fff;
  width: 170px;
  padding: 10px;
  background: #98E6AC;
}

#bio {
    width:33%;
}

/*---------------------------------------------------------------------------------
login */

.login_form {
    height:60px;
    width:150px;
    margin-top: 10px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

.login_form2 {
    height:60px;
    width:150px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:200px;
}

.logout {
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    width:50px;
}

.mySubmit {
    margin-top:10px;
}

/*---------------------------------------------------------------------------------
events */

.event-outer {
    margin-top:5px;
    margin-left:30px;
    margin-right:20px;
    height:200px;
    padding:10px;
    border:5px solid;
    border-color: white;
}

.event-info {
    width:300px;
    float:left;
}

.meet-info {
    float:left;
}

#event-delete {
    margin-right:30px;
    float:right;
}

.add-event {
    width:150px;
    height:25px;
    display:block;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:400px;
}