body{
    background: #98E6AC;
    font-family: 'Lato', sans-serif;
    margin-left:0px; 
    margin-right:0px;  
}

.welcome{
    position:relative;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.welcome > p{
    position: relative;
    font-family: "Great Vibes";
    font-size: 5em;
    font-weight: bold;
    color:#035F23;
}

.diversity{
    position:relative;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background: -webkit-linear-gradient(left, #4BCF25 , #1C9B48); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #4BCF25, #1C9B48); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #4BCF25, #1C9B48); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #4BCF25 , #1C9B48); /* Standard syntax */
    padding-bottom: 20px;
}
.diversity #welcome{
    position:relative;
    padding-top:20px;
    font-size:65px;
    text-align:center;
    font-family:'Lato',sans-serif;
}


.diversity #shirePic{
    position:relative;
    display:block;
    width:100%;
    border-top: 4px solid #049F65;
    border-bottom: 4px solid #049F65;
}

.diversity #header{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 5px;
}

.diversity p{
    margin:auto;
    text-align:center;
    font-size:1.25em;
    color:#DBDBDB;
    font-family:'Lato',sans-serif;
}

.footnote{
    font-family: 'Lato';
    text-align: center;
}

address{
    padding-top:10px;
    text-align: center;
}
address a{
    text-decoration:none;
    color:#333;
}
address a:hover{
    text-decoration: none;
    font-weight: bold;
    color:#035F23;
}








